<!DOCTYPE html>
<html lang="en">

<head>
    <title>Exhibitions</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>

<body>

<img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 

<nav>
<a href="../index.html">Home</a>
<a id="navselected" href="/views/explore.html">Explore</a>
<a href="/views/exhibitions.html">Exhibitions</a>
<a href="/views/tickets.html">Tickets</a>
<a href="/views/checkout.html">Checkout</a>
</nav>

<h3>Exhibition 1: DigitalDreams: Art in the Age of Algorithms</h3>

<p>
Join us for an immersive journey into the world of digital art and technology. 
Through interactive displays and cutting-edge installations, you'll experience 
the fusion of creativity and innovation.
</p>

<h3>Exhibition 2: CodeCanvas: The Language of Creative Technology</h3>

<p>
Code & Canvas highlights the ways programming has become a medium for artistic creation. 
Featuring works by digital artists and designers, the exhibition showcases installations, 
projections, and interactive pieces that reveal how lines of code can transform into 
immersive visual experiences.
</p>

<p id="copyYear"></p>

onload = "addYear()"

</body>
</html>